*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    touch-action:none;
    font-family:Arial,sans-serif;
}

body{
    user-select:none;
}

#app{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#000;
}

#camera{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 전체 UI */

#overlay{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    pointer-events:none;
}

/* 상단 */

#topBar{
display:flex;
justify-content:space-between;
align-items:center;
padding:2px 8px;
height:28px;
background:rgba(0,0,0,.08);
color:white;
font-size:14px;
}

/* 하단 */

#bottomBar{

display:flex;
justify-content:center;
align-items:center;
gap:8px;

position:absolute;
left:0;
right:0;
bottom:0;

height:44px;

background:rgba(0,0,0,.22);

z-index:999;

}

#logo{

height:24px;

display:block;

}

#bottomText{

color:white;

font-size:14px;

font-weight:bold;

}

/* ==========================
   시지각 체험 효과
========================== */

#camera{

    animation: visionShake 0.18s infinite alternate;

   filter:
contrast(1.05)
brightness(1.02)
blur(.4px)
saturate(.92);

    transform:scale(1.03);

}

@keyframes visionShake{

    0%{

        transform:
        scale(1.03)
        translate(0px,0px);

    }

    25%{

        transform:
        scale(1.03)
        translate(-1px,0px);

    }

    50%{

        transform:
        scale(1.03)
        translate(1px,-1px);

    }

    75%{

        transform:
        scale(1.03)
        translate(0px,1px);

    }

    100%{

        transform:
        scale(1.03)
        translate(-1px,-1px);

    }

}