*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    touch-action:none;
    font-family:Arial,sans-serif;
}

body{
    user-select:none;
}

#app{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#000;
}

#camera{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 전체 UI */

#overlay{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    pointer-events:none;
}

/* 상단 */

#topBar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:3px 10px;

    height:24px;

    background:rgba(0,0,0,.12);

    color:white;

    font-size:11px;

}

/* 하단 */

#bottomBar{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:6px;

    padding:2px 8px;

    height:34px;

    background:rgba(0,0,0,.12);

}

#logo{

    height:20px;

}

#bottomText{

    color:white;

    font-size:15px;

    font-weight:600;

}